@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  @apply text-2xl font-semibold;
}

main {
  @apply p-4 flex flex-col flex-1 justify-between;
}

.game-wrapper {
  @apply absolute inset-0;
  @apply p-4 flex flex-col flex-1 justify-end;
}

.cards-wrapper {
  @apply flex flex-wrap gap-1;
}

.card {
  @apply flex flex-col justify-center rounded-md items-center w-[32px] h-[42px] text-base space-y-1;
  line-height: 1rem;
}

.card {
  @apply border border-gray-400;
}

.card.selected {
  @apply border-blue-900 bg-blue-100;
}

.card > div {
  @apply rounded-full w-3 h-3;
}

button {
  @apply bg-gray-300 min-w-[6rem] px-2 py-2 rounded-md;
}

button:disabled {
  @apply opacity-50;
}
.player.active {
  order: 10;
}
